<!DOCTYPE html>
<html lang="en">
    <head>
        
        <style>body {margin: 1cm 0cm 0cm 1cm;}</style>
    <title>Golight</title>
</head>
<body>
    <form method="post" action="/edit">
<h1>Add a friend:</h1>
    <br>
        <input type ="text" name = "new_friend">
        <input type= "submit" value= "Add_friend">
</form>
<form method="post" action="/edit">
<h1>Remove a friend:</h1>
    <br>
        <input type ="text" name = "old_friend">
        <input type= "submit" value= "Remove_friend">
</form>
<br>
{{status}}

	<table style="border-collapse: collapse;">
		<tr>
			<td><a style="border: 1px solid black;" href="/friends"> Your Friends </a></td>
			<td><a style="border: 1px solid black;" href="/edit"> Edit Friends </a></td>
			<td><a style="border: 1px solid black;" href="/profile"> Update Your Status </a></td>
			<td><a style="border: 1px solid black;" href="{{logout_link}}"> Logout </a></td>
		</tr>
	</table>

</body>
</html>