<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Golight</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<!--JQuery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<!--Our code-->
		<script src="js/edit.js"></script>			
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<style>
		    h1 {
		        margin: 1cm 0cm 0cm 1cm;
		    }
		    input {
		        margin: 0cm 0cm 0cm 1cm;
		    }
		</style>
    </head>

    <body>
    
    
    <nav class="navbar navbar-default" style="margin:0px;">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/">GoLight</a>
    			</div>
    			<div>
	      			<ul class="nav navbar-nav">
        				<li><a href="{{logout}}">Logout</a></li>
      				</ul>
                    <div id="editButton">
                        <ul class="nav navbar-nav">
                            <li><a href="/edit">Edit Friends</a></li>
                        </ul>
                    </div>
                    <div id="profileButton">
                        <ul class="nav navbar-nav">
                            <li><a href="/profile">My Profile</a></li>
                        </ul>
                    </div>
                    <div id="SearchButton">
                        <ul class="nav navbar-nav">
                            <li><a href="/search">Search</a></li>
                        </ul>
                    </div>
                    <form class="navbar-form navbar-left" role="toolbar">
                    </form>
    			</div>
  			</div>
		</nav>
		
	<div class="row">	
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4> Add a friend: </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			Input the email of the friend you'd like to add.
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<input type ="text" id="new_friend">
		</div>
		<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<input type= "submit" value= "Add Friend" onclick="addFriend()">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4> Remove a friend: </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			Input the email for the friend you'd like to remove.
		</div>
	</div>
	<br>
	<div class="row">
        	<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<input type ="text" id="old_friend">
		</div>
        	<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<input type= "submit" value= "Remove Friend" onclick="removeFriend()">
		</div>
	</div>
        <h1 id="message"></h1>
	</body>
</html>
