<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/static/js/test.js"></script>
	</head>
	<body>
		<p> Request method:
			<input type="text" id="method"></input>
		</p>
		<p> Endpoint:
			<input type="text" id="endpoint"></input>
		</p>
		<p> Parameters (in JSON form):
			<textarea id="parameters"></textarea>
		</p>
		<p>Note that the parameters aren't actually sent in JSON, they're sent as URL parameters.<br/>
			Open your developer's console and look at the requests being made to see what I mean.
		</p>
		<button id="sendRequest"> Go </button>
		<div id="response"></div>
	</body>
</html>